.cards{
  display: flex;
  flex-direction: column;
 gap: 8px;
  overflow: hidden;
  text-align: left;
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba(32, 32, 32, 0.473);
 height: 400px;
 min-width: 300px;
 max-width: 300px;
}
.img{
   border-radius: 0;
   
}
.card-body{
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
gap: 8px;
  flex: 1;
}

h1{
  font-size: 1.5em;
}

h3{
  font-size: 1em;
  color: rgb(100, 100, 100);
}

.bt{
align-self: center;
margin-top: auto;
  padding: 10px 18px;
  border: 2px solid  rgb(12, 12, 11);
  border-radius:20px ;
cursor: pointer;
font-weight: 700;

}